.board {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9fafb;
  }
  
  .column {
    width: 30%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .column-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  
  .card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  
  .todo-icon {
    width: 20px;  /* Adjust size as needed */
    height: auto;
    margin-right: 12px;  /* Increase space between the icon and the title */
    vertical-align: middle;  /* Align with text */
  }
  
  .priority-icon {
    width: 20px; /* Adjust the size as needed */
    height: auto;
    vertical-align: middle; /* Align with the text */
  }
  
  